define host {
        use                     linux-server
        host_name               {{ env }}
        alias                   {{ env }}
        address                 {{ dns_name }}
        contact_groups                admins
	check_command		     check_tcp!8081
	notifications_enabled        1
	notification_period          24x7
	notification_interval        120
	notification_options         d,u,r,f,s
        }
define service {
        use                             generic-service
        host_name                       {{ env }}
        service_description             HTTP
        check_command                   check_tcp!8081
        contact_groups                  admins
        check_interval                  1
        }

